[submodule "themes/chan"]
	path = themes/chan
	url = https://github.com/denjones/hexo-theme-chan.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/iissnan/hexo-theme-next.git
[submodule "themes/yilia"]
	path = themes/yilia
	url = https://github.com/mingyangShang/hexo-theme-yiliaS
